
.user-wallet-form-field {
	margin-bottom: 5px;
}
.user-wallet-label {
	margin-bottom: 5px;
}
#user-wallet-generator-button {
	font-size: 14px;
}
#user-wallet-connection-button {
	font-size: 14px;
	display: flex;
}
#user-wallet-connection-button div {
	margin: 0;
	padding: 0;
}
#user-wallet-connection-img-div {
	height: 1rem;
}
#user-wallet-connection-img-div img {
	height: 100%;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
.ui-dialog, .ui-dialog-buttonpane {
	font-family: inherit;
	font-size: 14px;
}
.ui-dialog button {
	font-family: inherit;
	font-size: 14px;
}
@media screen and (max-width: 400px) {
	.ui-dialog {
		width: 100% !important;
	}
}
.walletconnect-modal__headerLogo {
	height: 21px !important;
}